<div class="hero-wrapper flex flex-col lg:flex-row items-center justify-center p-4 lg:px-10 py-10 gap-10 lg:gap-0 relative">

    <div class="scooter-image flex lg:order-last">
        <img src="../../assets/images/scooter-01.png" alt="" srcset="" class="" />
    </div>

    <div class="scooter-description flex flex-col gap-4 items-center ">
        <div class="name text-4xl lg:text-7xl font-montserrat font-bold">
            Libero X250
        </div>
        <div class="intro text-primary/80 text-lg font-medium">
            250 Watt Electric Scooter
        </div>

        <div class="infomation flex flex-col items-center gap-4">
            <div class="title font-medium">Informations</div>
            <div class="info-group flex flex-row gap-4">
                <div
                    class="battery-capacity flex flex-col border border-primary/80 items-center py-1 px-4 rounded w-max">
                    <span class="font-medium">30 Km</span>
                    <span class="text-sm">BATTERY</span>
                </div>

                <div
                    class="battery-capacity flex flex-col border border-primary/80 items-center py-1 px-4 rounded w-max">
                    <span class="font-medium">13.5 Kg</span>
                    <span class="text-sm">WEIGHT </span>
                </div>

                <div
                    class="battery-capacity flex flex-col border border-primary/80 items-center py-1 px-4 rounded w-max">
                    <span class="font-medium">25 km/h</span>
                    <span class="text-sm"> SPEED</span>
                </div>
            </div>
        </div>

        <div class="price font-normal text-center">
            <div class="actual line-through">$850.00</div>
            <div class="discount">Only $699.00</div>
        </div>

        <button
            class="border border-secondery p-5 py-3 bg-secondery text-white font-medium rounded hover:bg-secondery/80 transition-all">
            ADD TO CART
        </button>

        <div class="share flex flex-col items-center gap-4">
            <div class="title font-medium">Share</div>
            <div class="social flex flex-row items-center gap-4">
                <img class="w-10 h-10 cursor-pointer" src="../../assets/images/facebook.svg" alt="" srcset="" />
                <img class="w-10 h-10 cursor-pointer" src="../../assets/images/twitter.svg" alt="" srcset="" />
                <img class="w-10 h-10 cursor-pointer" src="../../assets/images/youtube.svg" alt="" srcset="" />
            </div>
        </div>
    </div>

    <!-- hero background circle color -->
    <div class="absolute bg w-full h-full border bg-hero-bg top-0 opacity-[0.5] -z-10" alt="" srcset=""> </div>

</div>