<div class="newsletter-wrapper bg-secondery-2 flex flex-col items-center">
    <div class="newsletter-container flex flex-col lg:flex-row items-center lg:justify-between h-72 lg:h-36 py-10 max-w-[1366px] lg:gap-4">

        <div class="title font-montserrat text-3xl font-medium border-2 p-4">Newsletter</div>
        <div class="description p-4 lg:font-medium">
            Subscribe to our newsletter and get 20% off your first purchase.
        </div>
        <label class="flex flex-row items-center rounded-md justify-center">
            <input type="email" name="email"
                class="px-3 py-2 bg-white border  border-primary placeholder-slate-400 focus:outline-none block sm:text-sm  w-[200px] lg:w-[250px] h-[45px] text-sm focus:ring-0"
                placeholder="Enter email address" />
                <button class="border border-secondery p-5 py-2 bg-secondery text-white font-medium hover:bg-secondery/80 transition-all w-[150px] h-[45px]">
                    SUBSCRIBE
                </button>
        </label>
    
    
    </div>
</div>
