<div class="items-section-wrapper items-center flex flex-col gap-2 mt-2">

    <div class=" items-container flex flex-col lg:flex-row w-screen gap-2">
        <div
            class="scooter lg:w-1/2 bg-secondery-2 hover:brightness-90 transition-all cursor-pointer relative text-white hover:text-primary p-2">

            <div class=" bg-scooter-img h-[300px] w-full bg-contain bg-center bg-no-repeat "></div>
            <span class="absolute bottom-10 left-10 font-bold text-5xl">SCOOTERS</span>

        </div>

        <div
            class="accessories lg:w-1/2 bg-secondery-2 hover:brightness-90 transition-all cursor-pointer relative text-white hover:text-primary">
            <div class=" bg-accessories-img h-[300px] w-full bg-contain bg-center bg-no-repeat"></div>
            <span class="absolute bottom-10 left-10 font-bold text-5xl">ACCESSORIES</span>

        </div>
    </div>

    <div class="CEO-message-wrapper bg-secondery-2 w-full items-center flex flex-col">
        <div class="CEO-message-container flex flex-col lg:flex-row items-center gap-4 p-4 lg:max-w-[1024px]">

            <div class="message text-center">
                <span class="text-4xl font-montserrat font-medium">If you’re looking for a brand new electric scooter,
                    you’re in the right place.</span>
            </div>
            <div class="signature flex flex-col gap-3">
                <img src="../../assets/images/ceo-signature.png" alt="" srcset="">
                <span class="w-max">MARIA OLIVER</span>
            </div>
        </div>
    </div>


</div>