<div class="testimonials-wrapper mt-20 flex flex-col items-center p-4">

    <div class="title text-3xl font-montserrat font-bold flex flex-col">
        <span class="border-b-4 border-secondery">
            Client's Testimonials
        </span>
    </div>
    <span class=" mt-2 text-center mb-20 w-[400px] text-sm">Discover the positive impact we've made on the our clients by reading through their testimonials. </span>

    <div class="testimonials flex flex-col lg:flex-row gap-10 max-w-[1024px] rounded">

        <div class="testimonial flex flex-col shadow p-4 lg:p-16 gap-6 bg-secondery-2">
            <div class="message text-xl">
               " Highly impressed with the service and product quality of this electric scooter website. The payment process was secure, and the delivery was prompt. Definitely recommending this site to all scooter enthusiasts! "
            </div>

            <div class="items-container flex flex-row items-center gap-4">
                <div class="image w-20 h-20">
                    <img class="rounded-full" src="https://i.ibb.co/4SyGkG0/client1.png" alt="" srcset="">
                </div>
                <div class="name-group">
                    <div class="name text-lg font-medium">Courtney Henry</div>
                    <div class="title">CEO of H&S, Miami</div>
                </div>
                <div class="image2">
    
                </div>
            </div>
        </div>
        
        <div class="testimonial flex flex-col shadow p-4 lg:p-16 gap-6 bg-secondery-2 rounded">
            <div class="message text-xl">
                " I'm extremely satisfied with my purchase from this electric scooter website. The delivery was quick, and the scooter's quality is exceptional. A reliable platform for anyone in search of top-notch electric scooters! "
            </div>
            
            <div class="items-container flex flex-row items-center gap-4">
                <div class="image w-20 h-20">
                        <img class="rounded-full" src="https://i.ibb.co/YpTHr76/client2.png" alt="" srcset="">
                </div>
                <div class="name-group">
                    <div class="name name text-lg font-medium">Floyd Miles</div>
                    <div class="title">Client, Los Angeles</div>
                </div>
                <div class="image2">
    
                </div>
            </div>
        </div>

    </div>


</div>
